<html ng-app="apidoc">
  <head>
    <title>ApiDoc</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div style="display: none" id="sidenav" class="span2">
      <nav id="scrollingNav">
        <ul class="sidenav nav nav-list">
            <li class="hide" data-group="User" data-name="PostUser" data-version="0.2.0">
              <a href="#api-User-PostUser">Create a User</a>
            </li>
            <li data-group="User" data-name="PutUser" data-version="0.3.0" class="is-new active">
              <a href="#api-User-PutUser">Change a new User</a>
            </li>
        </ul>
      </nav>
    </div>
    <div class="container">

    </div>
    <script id="tpl-api" type="text/x-handlebars-template">
      <%
        var api;
        apis.forEach(function (api) {
      %>
        <div class="row">
          <div class="col-xm-12">
              <div>
                <h2><%= api.name.value %></h2>
                <small><%= api.desc ? api.desc.value : '' %></small>
              </div>
              <div class="api-addr">
                <% api.api.methods.forEach(function (method) { %>
                  <span data-type="<%= method %>" class="method">
                    <%= method %>
                  </span>
                <% }); %>
                <span class="url"><%= api.api.url %></span>
              </div>
              <% if (api.param) { %>
              <div class="api-param">
                <pre >
                  <%= JSON.stringify(api.param.value) %>
                </pre>
              </div>
              <% } %>
              <% if (api.query && api.query.value) {%>
              <div class="api-query">
                <p>query参数: </p>
                <table cellspacing="0">
                  <thead>
                    <th>参数名</th>
                    <th>类型</th>
                    <th>描述</th>
                  </thead>
                <% api.query.value.forEach(function (queryParam) { %>
                  <tr>
                    <td><%= queryParam.name %></td>
                    <td><%= queryParam.type %></td>
                    <td><%= queryParam.desc %></td>
                  </tr>
                <% });%>
                </table>
              </div>
              <% }%>

              <% if (api.body && api.body.value) { %>
              <div class="api-body">
                <p>body参数: </p>
                <table cellspacing="0">
                  <thead>
                    <th>参数名</th>
                    <th>类型</th>
                    <th>描述</th>
                  </thead>
                  <%
                    function loop(obj, level) {
                      if (level === undefined) {
                        level = 0;
                      }
                      obj && obj.forEach(function (bodyParam) {
                  %>
                      <tr>
                        <td>
                          <span class="indent<%=level%>">
                            <%= bodyParam.name %>
                          </span>
                        </td>
                        <td><%= bodyParam.type %></td>
                        <td><%= bodyParam.desc %></td>
                      </tr>
                  <%
                        if (bodyParam.type === 'Object') {
                          loop(bodyParam.sub, ++ level);
                        }
                      });
                    }
                    loop(api.body.value);
                  %>
                </table>
              </div>
              <% } %>

              <%
                if (api.success && api.success.length) {
              %>
                  <div class="api-success">
                    <p>接口成功返回格式: </p>
              <%
                  api.success.forEach(function (success) {
              %>
                   <pre><%= JSON.stringify(success.value, null, 2) %></pre>
              <%
                  });
              %>
                  </div>
              <%
                }
              %>

              <%
                if (api.failure && api.failure.length) {
              %>
                <div class="api-error">
                  <p>接口失败返回格式: </p>
              <%
                  api.failure.forEach(function (error) {
              %>
                    <pre><%= JSON.stringify(error.value, null, 2) %></pre>
              <%
                  });
              %>
                  </div>
              <%
                }
              %>
          </div>
        </div>
      <% }); %>
    </script>

    <script src="./jquery-2.1.4.min.js"></script>
    <script src="./ejs.min.js"></script>
    <script src="./apidoc.js"></script>
  </body>
</html>