/*!
 * style.css
 */
html {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif
}
a {
  text-decoration: none;
}

a, a:link {
  color: #23A1FF;
}
a:hover {
  color: #3DB1FF;
}
a:visited {
  color: #069DC7;
}

h2 {
  margin: 8px 0px;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p {
  color: #808080;
  margin: 6px 0px;
}
pre {
  background-color: #4B6F7F;
  color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0 20px 0;
}

pre.language-json {
  overflow: auto;
}
.sidebar {
  position: fixed;
  width: 200px;
  padding: 0px 10px 10px 10px;
}
.sidebar ul {
  margin-left: 10px;
  font-weight: bolder;
}
.sidebar ul.sub {
  font-weight: normal;
}
.sidebar li {
  margin: 5px 0px;
  line-height: 150%;
}

.container {
  min-width: 600px;
  max-width: 760px;
  margin-left: 220px;
}
.container .row {
  margin-top: 40px;
}

.api-addr {
  font-size: 12px;
  height: 24px;
  margin: 3px 0px;
}
.api-addr span {
  display: inline-block;
}
.api-addr .method {
  text-align: middle;
  padding: 5px;
  text-transform: uppercase;
  background-color: #3387CC;
  color: #ffffff;
}
.api-addr .url {
  border-radius: 0px 8px 8px 0px;
  background: #e5e5e5;
  padding: 5px 10px 5px 10px;
  font-weight: bolder;
}
.api-addr .method:first-child {
  border-radius: 8px 0px 0px 8px;
}

.api-addr .method[data-type="get"] {
  background-color: green;
}

.api-addr .method[data-type="put"] {
  background-color: #e5c500;
}

.api-addr .method[data-type="post"] {
  background-color: #4070ec;
}

.api-addr .method[data-type="delete"] {
  background-color: #ed0039;
}

.container table {
  border-collapse: collapse;
}
.container table td, .container table th {
  border: 1px solid #dfdfdf;
  border-left: 0px;
  border-right: 0px;
  padding: 8px;
  min-width: 150px;
  cellspacing: 0;
}
.container table tr td:first-child {
  font-weight: bold;
  color: #2DAAB7
}
.container table th {
  text-align: left;
}

.api-body .indent1 {
  margin-left: 20px;
}
.api-body .indent2 {
  margin-left: 40px;
}
.api-body .indent3 {
  margin-left: 60px;
}
.api-body .indent4 {
  margin-left: 80px;
}
.api-body .indent5 {
  margin-left: 20px;
}

pre code {
  display: block;
  font-size: 14px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  word-wrap: normal;
  white-space: pre;
}